---
import '../styles/styles.css';
import Header from '../components/header.astro';
---

<body>
    <Header />
    <h1>About Me</h1>
    <h2>My Astro blog tech journey site</h2>

    <p>This site will update more as I work through the tutitorial.</p>
</body>