---
import Header from '../components/header.astro';
import '../styles/styles.css';
const { pageTitle } = Astro.props;
---
<!-- Below is your "component template." It's just HTML, but with
    some magic sprinkled in to help you build great templates. -->
<html>
  <head>
    
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
      <title>{ pageTitle }</title>
      
    </meta>
  </head>
  <body>
    <Header /> <main>

      <h1>{pageTitle}</h1>

    </main>
 
  </body>
</html>
